@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

html {
    background-color: black;
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    overflow-y: auto;
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    width: 15%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #111;
    padding-top: 50px;
}

.sidebar h1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Fugaz One",
        sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #999999;
    text-decoration: none;
    font-style: normal;
    font-family: "Kanit",
        sans-serif;
    letter-spacing: 2px;
    transition: margin-left 0.4s
}

.sidebar a:hover {
    color: white;
    margin-left: 20px;
    transition: 0.4s;
}

.sidebar a b {
    color: white;
}

.sidebar span {
    display: block;
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: block;
    margin-top: 0;
    margin-left: 20px;
    padding-bottom: 40px;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li>a {
    color: #ffffff86;
}

.content {
    display: flex;
}

ul.image-gallery {
    padding: 0;
    margin-left: 17%;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

ul.image-gallery li {
    display: inline-block;
    width: auto;
    height: auto;
    padding-right: 50px;
}

ul.image-gallery li img {
    gap: 10px;
    height: 800px;
    border: 2px solid#111;
}

.porto-gallery {
    position: relative;
    text-align: center;
    display: block;
    margin-left: 27%;
    margin-right: 7%;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.porto-gallery .wrapper img {
    width: auto;
    height: 430px;
    border: 2px solid #555;
    margin: 5px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s ease !important;
    -webkit-transition: opacity 2s ease !important;
    -moz-transition: opacity 2s ease !important;
    -ms-transition: opacity 2s ease !important;
    -o-transition: opacity 2s ease !important;
}

.porto-gallery h1 {
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
}

.wrapper {
    display: inline-table;
    position: relative;
    padding: 0;
    width: 100px;
}

.text {
    line-height: 15;
    font-size: 25px;
    border-radius: 10px;
    position: absolute;
    margin-top: 7;
    left: 7;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 287px;
    height: 430px;
    line-height: 15;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover {
    opacity: 1;
}

img {
    z-index: 1;
}

@media only screen and (max-width: 650px) {

    body {
        background-color: lightblue;
    }

    .sidebar {
        display: none;
        width: 100%;
    }

    .mobilebar {
        margin: 25 0 50 25;
    }

    .wrapper {
        width: 0;
        position: relative;
        padding: 0;
        display: block;
    }

    .image-gallery {
        display: block;
        float: left;
        margin-top: 20%;
        margin-right: 7%;
        margin-left: 0%;
        gap: 20px;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .image-gallery h1 {
        display: block;
    }

    .porto-gallery {
        float: none;
        position: relative;
        text-align: center;
        text-align: center;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        gap: 20px;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .wrapper:last-of-type {
        padding-bottom: 50px;
    }

    .text {
        line-height: 15;
        font-size: 25px;
    }
}