@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

html {
    background-color: black;
}

body {
    background-color: white;
    margin: 0;
}

#content {
    margin: 20px 0;
    padding: 10px;
    background: blue;
    display: flex;
}

#content #sidebar {
    background: red;
    width: 150px;
    border: 2px solid lime;
    padding: 10px;
}

. {
    background-color: orange;
    flex: 1;
    margin-left: 10px;
    padding: 10px;
}

.sidebar {
    position: fixed;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #111;
    padding-top: 50px;
}

.sidebar h1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Fugaz One",
        sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #999999;
    text-decoration: none;
    font-style: normal;
    font-family: "Kanit",
        sans-serif;
    letter-spacing: 2px;
    transition: margin-left 0.4s
}

.sidebar a:hover {
    color: white;
    margin-left: 20px;
    transition: 0.4s;
}

.sidebar a b {
    color: white;
}

.sidebar span {
    display: block;
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: block;
    margin-top: 0;
    margin-left: 20px;
    padding-bottom: 40px;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li>a {
    color: #ffffff86;
}

.otherWebsite {
    padding: 10px;
    background-color: green;
    color: #fff;
    margin: 10px 0px;
}

.animation {
    animation: fadeout 0.6s ease-in-out 1 forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

img {
    width: 100%;
    max-width: 150px;
}

.imgContainer {
    float: left;
}